<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The greatest news app ever</title>
  </head>
  <body>

<div id = "app">
 

  <input
   v-model="newSearchText"
   v-on:keyup.enter="makeNewSearch"
   placeholder="Enter search term here">

  <select v-model="selected"
  v-on:click="makeNewSearch">
    <option v-for="option in options" v-bind:value="option.text">
     {{ option.text }} 
    </option>
  </select>

  <button v-on:click="makeNewSearch">Search</button>
<div v-for="result in results">
  <div class="card">
    <div class="card-divider">
     <p><a href="{{ result.web_url }}"> {{ result.headline.main }}</a></p>
    </div>
    <div class="card-section">
      <p>{{ result.snippet }}</p>
	<br>
	<hr>
    </div>
  </div>
</div>

 

 <script src="https://unpkg.com/vue"></script>
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script>


const baseUrl = "https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key";
const ApiKey = "=c74fb5d7de7f4394a37aa1f462430bff";

function buildUrl(url) {
  
  console.log( baseUrl + ApiKey + "&q=" + url)
  
  return baseUrl + ApiKey + "&q=" + url
}

  
const vm = new Vue({
  el: '#app',
  data: {
    selected: '',
    options: [
        { text: 'Newest'},
        { text: 'Oldest'}  ],
    newSearchText: '',  
    results: []
  },
  mounted() {
   <!-- this.makeNewSearch(this.newSearchText); --!>
     },
   methods: {
       makeNewSearch() {
         if (this.newSearchText != '') {
           let url = buildUrl(this.newSearchText + "?sort=" + this.selected);
           axios.get(url).then((response) => {
         
           this.results = response.data.response.docs;
           }).catch( error => {console.log(error); });
     }
  }
 }
}); 
</script>

</body>
</html>
