<html lang="en">
  <head>
    <link rel="stylesheet" href="newsvue.css" title="external style sheet">    
<meta charset="utf-8">
    <title>The greatest news app ever</title>
  </head>
  <body>

<div id = "app">
 

  <input
   v-model="newSearchText"
   v-on:keyup.enter="makeNewSearch"
   placeholder="Enter search term here">
   
  <p>
  
  <select v-model="selected"
  v-on:click="makeNewSearch" v-if="newSearchText != ''">
    <option v-for="option in options" v-bind:value="option.text">
     {{ option.text }} 
    </option>
  </select>
  <p>

  <button v-on:click="makeNewSearch" v-if="newSearchText != ''">Search</button>


<div v-for="result in results">
  <div class="card">
    <div class="card-divider">
	<p>
         <a :href="result.web_url">
          {{ result.headline.main }}</a>
        </p>
    </div>
    <div class="card-section">
       <p>{{ result.snippet }}</p>
   </div>
   <hr>
	
</div>
</div>

 

 <script src="https://unpkg.com/vue"></script>
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script type="text/javascript" src="newsvue.js"></script>



</body>
</html>

