
    <style type="text/css">
     .card-section {
	font-color:#c9c9c9;
        padding-left: 20px;
        }	
     a {
	font-size:150%;
	color: blue;        
        }
     #app {
	text-align:center
 	}  
     input {
	text-align:center
	}

   </style>
